@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Fjalla+One&family=Work+Sans&display=swap');

/* font-family: 'Didact Gothic', sans-serif;
font-family: 'Fjalla One', sans-serif;
font-family: 'Work Sans', sans-serif; */

/* ===========================
            General 
==============================*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* ===========================
    1. Abschnitt/ Titelblatt 
==============================*/


header {
    text-align: center;
}

header h6 {
    font-family: "Work Sans";
    font-size: 20px;
    margin: 10px;
}

header h1 {
    font-family: "Didact Gothic";
    font-size: 100px;
    text-transform: uppercase;
    margin: 40px;
}

header p {
    font-family: "Work Sans";
    font-size: 166px;
    text-transform: uppercase;
    margin-top: 50px;
}

/* ===========================
2. Abschnitt/ Cover 01
==============================*/

main {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/portfolio2.jpg)center / cover no-repeat;
    height: 100vh;
    margin-top: 100px;

}

main ul {
    color: #9E9E9E;
    list-style: none;
    margin-left: 220px;
}

/* 2019 */
main ul li:first-child {
    font-family: "Work Sans";
    letter-spacing: -0.05em;
    margin-bottom: 30px;
    padding-top: 100px;
}

/* Orbis */
main ul li:nth-of-type(2) {
    font-family: "Didact Gothic";
    font-size: 112px;
    color: #FFFFFF;
    text-transform: uppercase;
    margin-bottom: 70px;
}

/* Corporate Website */
main ul li:nth-of-type(3) {
    font-family: "Work Sans";
    font-size: 20px;
    margin-bottom: 6em;
}

/* Dive in */
main div a {
    font-family: "Fjalla One";
    color: #FFFFFF;
    text-decoration: none;
    border: 1px solid #9E9E9E;
    padding: 10px 25px;
}

/* 01 */
main div p {
    font-family: "Fjalla One";
    font-size: 165px;
    color: #9e9e9e6e;
    position: absolute;
    margin-left: 5.5em;
    margin-top: -0.1em;
}

#divbox:hover a {
    background: white;
    color: black;
}

#divbox:hover p {
    color: white;
}

/* ===========================
3. Abschnitt/ Cover 02
==============================*/

section {
    background: url(../img/portfolio3.png)center / cover no-repeat;
    height: 100vh;
    margin-top: 5em;
}

section ul {
    color: #9E9E9E;
    list-style: none;
    margin-left: 200px;
}

/* 2019 */
section ul li:first-child {
    font-family: "Work Sans";
    letter-spacing: -0.05em;
    margin-bottom: 30px;
    padding-top: 100px;
}

/* Rollr */
section ul li:nth-of-type(2) {
    font-family: "Didact Gothic";
    font-size: 112px;
    color: black;
    text-transform: uppercase;
    margin-bottom: 70px;
}

/* Marketing Website */
section ul li:nth-of-type(3) {
    font-family: "Work Sans";
    font-size: 20px;
    margin-bottom: 6em;
}

/* Dive in */
section div a {
    font-family: "Fjalla One";
    color: black;
    text-decoration: none;
    border: 1px solid #9E9E9E;
    padding: 10px 25px;
}

/* 02 */
section div p {
    font-family: "Fjalla One";
    font-size: 165px;
    color: #666666;
    position: absolute;
    margin-left: 5.5em;
    margin-top: -0.1em;
}

#divboxzwei:hover a {
    background: black;
    color: white;
}

#divboxzwei:hover p {
    color: black;
}

/* ===========================
4. Abschnitt/ Cover 03
==============================*/

article {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/portfolio4.jpg)center / cover no-repeat;
    height: 100vh;
    margin-top: 5em;
}

article ul {
    color: #9E9E9E;
    list-style: none;
    margin-left: 200px;
}

/* 2018 */
article ul li:first-child {
    font-family: "Work Sans";
    letter-spacing: -0.05em;
    color: #9E9E9E;
    margin-bottom: 30px;
    padding-top: 100px;
}

/* Galitos */
article ul li:nth-of-type(2) {
    font-family: "Didact Gothic";
    font-size: 112px;
    color: white;
    text-transform: uppercase;
    margin-bottom: 70px;
}

/* Marketing Website */
article ul li:nth-of-type(3) {
    font-family: "Work Sans";
    color: #9E9E9E;
    font-size: 20px;
    margin-bottom: 6em;
}

/* Dive in */
article div a {
    font-family: "Fjalla One";
    color: white;
    text-decoration: none;
    border: 1px solid #9E9E9E;
    padding: 10px 25px;
}

/* 02 */
article div p {
    font-family: "Fjalla One";
    font-size: 165px;
    color: ##9E9E9E;
    position: absolute;
    margin-left: 5.5em;
    margin-top: -0.1em;
}

#divboxdrei:hover a {
    background: black;
    color: white;
}

#divboxdrei:hover p {
    color: white;
}

/* ===========================
5. Abschnitt/ Cover 04
==============================*/

#coverfour {
    background: url(../img/portfolio5.png)center / cover no-repeat;
    height: 100vh;
    margin-top: 5em;
}

#coverfour ul {
    color: #9E9E9E;
    list-style: none;
    margin-left: 200px;
}

/* 2017 */
#coverfour ul li:first-child {
    font-family: "Work Sans";
    letter-spacing: -0.05em;
    color: #9E9E9E;
    margin-bottom: 30px;
    padding-top: 100px;
}

/* Tretto */
#coverfour ul li:nth-of-type(2) {
    font-family: "Didact Gothic";
    font-size: 112px;
    color: black;
    text-transform: uppercase;
    margin-bottom: 70px;
}

/* Mobile App */
#coverfour ul li:nth-of-type(3) {
    font-family: "Work Sans";
    color: #9E9E9E;
    font-size: 20px;
    margin-bottom: 6em;
}

/* Dive in */
#coverfour ul div a {
    font-family: "Fjalla One";
    color: black;
    text-decoration: none;
    border: 1px solid black;
    padding: 10px 25px;
}

/* 02 */
#coverfour div p {
    font-family: "Fjalla One";
    font-size: 165px;
    color: #666666;
    position: absolute;
    margin-left: 5.5em;
    margin-top: -0.1em;
}

#divboxvier:hover a {
    background: black;
    color: white;
}

#divboxvier:hover p {
    color: black;
}

/* ===========================
6. Abschnitt/ Kontakt
==============================*/

#kontakt {
    background: black center / cover no-repeat;
    height: 100vh;
    font-family: "Work Sans";
}


#kontakt h3 {
    font-size: 100px;
    color: white;
    text-align: center;
    padding-top: 1em;
}

#kontakt ul {
    list-style: none;
    margin: 0 5em 0 40em;
}

#kontakt ul li:nth-of-type(1) {
    font-size: 22px;
    color: #666666;
    word-spacing: 5px;
    line-height: 180%;
}

#kontakt ul li a {
    color: white;
    font-size: 40px;
    text-decoration: none;
    text-transform: lowercase;
    border: none;


}

#kontakt ul li a:hover {
    text-decoration: underline;
}

/* ===========================
Footer/ Letzte Seite
==============================*/

footer {
    height: 100vh;
    text-align: center;
    font-family: "Didact Gothic";
    margin-top: 1em;
    font-size: 7em;
}

footer ul li:nth-of-type(2) {
    margin-top: 1em;
    margin-bottom: 1em;
}

footer ul li:first-child:hover {
    text-decoration: underline;
}

footer ul li:nth-of-type(2):hover {
    text-decoration: underline;
}

footer ul li:last-child:hover {
    text-decoration: underline;
}



#heart img {
    animation-name: heartbeat;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes heartbeat {
    from {
        margin-left: 1%;
        width: 2%;
    }

    to {
        margin-left: 1%;
        width: 1%;
    }
}